<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <a href="/">
                        <span class="brand-text">
                            <img style="height: 70px; " src="static/icon/logo3.png" alt="우아한 길"/></span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('intro') }}">
                <div class="pull-left"><i class="ti-book mr-20"></i><span class="right-nav-text">소개글</span></div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </a>
        </li>


        <li>
            <a href="{{ url_for('index') }}">
                <div class="pull-left"><i class="ti-map-alt mr-20"></i><span class="right-nav-text">우아한길</span></div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </a>
        </li>
        <li>
            <a href="{{ url_for('index') }}">
                <div class="pull-left"><i class="ti-server mr-20"></i><span class="right-nav-text">데이터</span></div>
                <div class="pull-right"></div>
                <div class="clearfix"></div>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr">
                <div class="pull-left"><i class="ti-bar-chart  mr-20"></i><span class="right-nav-text">탐색적 분석</span>
                </div>
                <div class="pull-right"><i class="ti-angle-down"></i></div>
                <div class="clearfix"></div>
            </a>
            <ul id="ecom_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{{ url_for('gis') }}">
                        <div class="pull-left"><i class="ti-bar-chart mr-20"></i><span class="right-nav-text">구별 안전 관련</span>
                        </div>
                        <div class="pull-right"></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('eda') }}">서울시 요소별 통계</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr">
                <div class="pull-left"><i class="ti-zoom-in mr-20"></i><span class="right-nav-text">예측 분석</span>
                </div>
                <div class="pull-right"><i class="ti-angle-down"></i></div>
                <div class="clearfix"></div>
            </a>
            <ul id="ecom_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{{ url_for('gis') }}">
                        <div class="pull-left"><i class="ti-bar-chart mr-20"></i><span class="right-nav-text">구별 안전 관련</span>
                        </div>
                        <div class="pull-right"></div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('eda') }}">서울시 요소별 통계</a>
                </li>
            </ul>
        </li>
    </ul>
</div>