
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>우리아이 안전한 길</title>
    <meta name="description" content="Admintres is a Dashboard & Admin Site Responsive Template by hencework." />
    <meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Admintres Admin, Admintresadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
    <meta name="author" content="hencework"/>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Morris Charts CSS -->
    <link href="static/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css"/>

    <!-- Data table CSS -->
    <link href="static/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>

    <link href="static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" type="text/css">

    <!-- bootstrap-select CSS -->
    <link href="static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Switches CSS -->
    <link href="static/vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>

    <!-- switchery CSS -->
    <link href="static/vendors/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href="static/dist/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Preloader -->
<div class="preloader-it">
    <div class="la-anim-1"></div>
</div>
<!-- /Preloader -->
<div class="wrapper theme-2-active navbar-top-light">
    <!-- Top Menu Items -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 100px;">
        <div class="nav-wrap">
            <div class="mobile-only-brand pull-left" style="height:100px;">
                <div class="nav-header pull-left" style="height:100px;padding-left:10px">
                    <div class="logo-wrap" style="padding: 10px 0 0 0;">
                        <a href="/">
                            <img class="brand-img" src="static/icon/logo.png" style="height: 60px;width:46px;padding-bottom:20px;padding-right:10px" alt="brand"/>
                            <span class="brand-text"><img style="height: 80px; "  src="static/icon/logo3.png" alt="brand"/></span>
                        </a>
                    </div>
                </div>
                <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
            </div>

        </div>
    </nav>
    <!-- /Top Menu Items -->

    <!-- Left Sidebar Menu -->
    <div class="fixed-sidebar-left">
        <ul class="nav navbar-nav side-nav nicescroll-bar">
            <li class="navigation-header" style="padding: 50px 0 0 0;">
            </li>
            <li>
                <a href="{{ url_for('map') }}"><div class="pull-left"><i class="ti-map-alt mr-20"></i><span class="right-nav-text">우아한 길</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>
            <li>
                <a href="{{ url_for('documentation') }}"><div class="pull-left"><i class="ti-book mr-20"></i><span class="right-nav-text">소개글</span></div><div class="pull-right"></div><div class="clearfix"></div></a>
            </li>
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#ecom_dr"><div class="pull-left"><i class="ti-bar-chart  mr-20"></i><span class="right-nav-text">분석</span></div><div class="pull-right"><i class="ti-angle-down"></i></div><div class="clearfix"></div></a>
                <ul id="ecom_dr" class="collapse collapse-level-1">
                    <li>
                        <a href="{{ url_for('dataScience') }}">안전등급 분석</a>
                    </li>
                    <li>
                        <a href="{{ url_for('polygon') }}">서울시 구별 통계</a>
                    </li>
                    <li>
                        <a href="{{ url_for('echart') }}">서울시 요소별 통계</a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
    <!-- /Left Sidebar Menu -->

    <!-- Right Sidebar Menu -->
    <div class="fixed-sidebar-right">
        <ul class="right-sidebar">
            <li>
                <div  class="tab-struct custom-tab-1">
                    <ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
                        <li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">chat</a></li>
                        <li role="presentation" class=""><a  data-toggle="tab" id="messages_tab_btn" role="tab" href="#messages_tab" aria-expanded="false">messages</a></li>
                        <li role="presentation" class=""><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">todo</a></li>
                    </ul>
                    <div class="tab-content" id="right_sidebar_content">
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /Right Sidebar Menu -->



    <!-- Main Content -->
    <div class="page-wrapper">
        <div class="container pt-30">
            <!-- Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <div class="pull-left">
                                <h1 class="panel-title txt-dark" style="font-size: 50px;">안전등급</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <p class="mt-10 txt-dark"><h2>변수</h2></p>
                                <ul class="uo-list mt-20 mb-20 pl-15">
                                    <li class="mb-10 txt-dark"><h5>features(독립변수) : 면적당 경찰서, 숙박업소, 공사진행현황, CCTV, 어린이 놀이시설, 아동안전지킴이집, 어린이 보호구역
                                        (초등학교,유치원,어린이집), (유흥업소,단란주점)의 개수</h5></li>
                                    <li class="mb-10 txt-dark"><h5>target(종속변수) : 면적당 어린이 교통사고수</h5></li>
                                </ul>
                                <p class="mt-10 txt-dark"><h5>우리는 앞에서 말했듯이 어린이들을 위해 특정 지점 주변의 안전등급을 알려주는 서비스를 제공하고자 했다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>그렇기 위해서는 일단 안전에 대한 척도를 무엇으로 정할 것인가를 정해야 했다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>우리는 부모님들이 아이들의 안전에 대해 우려하는 1순위인 교통사고 2순위인 아동성빔죄 혹은 아동 대상 범죄가</h5></p>
                                <p class="mt-10 txt-dark"><h5>적게 일어나는 곳을, 안전한 곳으로 생각할 수 있었다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>그러나, 아동성범죄와 아동대상 범죄에 관한 데이터는 우리 수준에서 얻기 힘들었고, 그나마 서울특별시 동별로 얻을 수 있는</h5></p>
                                <p class="mt-10 txt-dark"><h5>어린이 교통사고를 이용하기로 했다. 앞으로 우리가 말하는 안전은 교통사고에 대한 것을 말한다.</h5></p>
                                <br>
                                <p class="mt-10 txt-dark"><h5>우리가 제공하는 서비스(어린이에게 주변 시설에 관한 정보를 알려주는 것)에 따라 어린이 교통사고에 영향을 끼칠 수 있는</h5></p>
                                <p class="mt-10 txt-dark"><h5>feature들을 위에와 같이 생각해 보았다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>위에 있는 feature들처럼 어린이 교통사고에 영향을 끼칠 수 있는 것들을 종속변수로 지정하고,</h5></p>
                                <p class="mt-10 txt-dark"><h5>target 값으로 어린이 교통사고를 넣어주었다. 그리고 우리가 종속변수와 독립변수가 범주형 자료이기에</h5></p>
                                <p class="mt-10 txt-dark"><h5>logistic regression와 decision tree를 적용해보기로 결정하였다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>이 때, 법정동의 면적이 전부 다르기 때문에 모든 데이터를 면적으로 나누었다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>그리고 모델을 적용시켜주기 위해 어린이 교통사고 수를 동면적으로 나눈 값을 3등급(안전, 주의, 위험)으로 분류해주었다.</h5></p>
                                <img src="static/img/heatmap.png">
                                <p class="mt-10 txt-dark"><h5>feature 간의 Multicollinearity(다중공선성문제)를 해결하기 위해 초등학교,유치원,어린이집을 한 컬럼으로, 유흥업소와 단란주점을 한 컬럼으로 결정했다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>Logistic regression을 적용한 결과 평균 0.873의 Accuracy을 보였다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>cross-validation의 결과 평균 0.882으로 overfitting(과적합)이 없음을 확인하였다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>decision tree를 적용한 결과 평균 0.820의 Accuracy을 보였다.</h5></p>
                                <p class="mt-10 txt-dark"><h5>즉, Logistic regression을 적합한 모델로 선택.</h5></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Row -->

        </div>

        <!-- Footer -->
        <footer class="footer pl-30 pr-30">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>2018 &copy; Admintres. Pampered by Hencework</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Follow Us</p>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer -->

    </div>
    <!-- /Main Content -->

</div>
<!-- /#wrapper -->

<!-- JavaScript -->

<!-- jQuery -->
<script src="static/vendors/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Data table JavaScript -->
<script src="static/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>

<!-- Slimscroll JavaScript -->
<script src="static/dist/js/jquery.slimscroll.js"></script>

<!-- simpleWeather JavaScript -->
<script src="static/vendors/bower_components/moment/min/moment.min.js"></script>
<script src="static/vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
<script src="static/dist/js/simpleweather-data.js"></script>

<!-- Progressbar Animation JavaScript -->
<script src="static/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="static/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>

<!-- Fancy Dropdown JS -->
<script src="static/dist/js/dropdown-bootstrap-extended.js"></script>

<!-- Sparkline JavaScript -->
<script src="static/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>

<!-- Owl JavaScript -->
<script src="static/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- ChartJS JavaScript -->
<script src="static/vendors/chart.js/Chart.min.js"></script>
<script src="static/dist/js/chartjs-data.js"></script>

<!-- EasyPieChart JavaScript -->
<script src="static/vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<!-- EChartJS JavaScript -->
<script src="static/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
<script src="static/vendors/echarts-liquidfill.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="static/vendors/bower_components/raphael/raphael.min.js"></script>
<script src="static/vendors/bower_components/morris.js/morris.min.js"></script>

<!-- Toast JavaScript -->
<script src="static/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>

<!-- Switchery JavaScript -->
<script src="static/vendors/bower_components/switchery/dist/switchery.min.js"></script>

<!-- Bootstrap Select JavaScript -->
<script src="static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<!-- Init JavaScript -->
<script src="static/dist/js/init.js"></script>


</body>

</html>
